body {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    background-color: rgba(247, 247, 214, 1);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    
    
}

#navbar1{
    /* background-color: #013A6B; */
    
    background-color:  rgba(247, 247, 214,0);
    transition: all .7s ease;
    
}


.customLogo{
    width:70%;
}

#navbarNav {
    font-size: large;
    font-weight: 500;
    
    
}

#navbarNav .otherLink{
   color: white;
}
#navbarNav .otherLink:hover{
    background-color: rgba(173, 42, 47, 01);
    color: white;
}

#navbarNav .loginbtn{
color: white;
background-color: rgba(143, 46, 49, 1) ;
}



#navBarLogo{
    
    visibility: hidden;
}

#welcome{
    
    opacity:0.1;
    margin-top: -50px; 
    
    transition: all .5s ease;
    
    
}

#welcome-cards{
    opacity:0.1;
    margin-bottom: ''; 
    transition: all 1s ease;
}


.background{
    background-image: url('/images/schoolBuilding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    opacity: 0.5;
    filter: brightness(60%)
}


.background2{
    background-image: url('/images/join us.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:90vh;
    
    
    
}



@media only screen and (max-width: 767px) {
    .background{
    background-image: url('/images/schoolBuildingMob.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    
    filter: brightness(60%)
    
}

#welcome {
    width:100px
}

#welcome-cards{
    bottom:0;
}
    
}

.welcome-text{
    
  font-size: 4.375rem;
  color:rgba(247, 247, 214, 1); 
    
}


.welcome-card{
    background-color:  rgba(173, 42, 47, .80);
    padding: 1%;
    
}

.welcome-card-container{
    
    
}

#pageLogo{
    width: 390px;
    
}

#motto{
    margin-top: '0px';
}

.background-filter{
    background-image:linear-gradient(rgba(247, 247, 214, 1),rgba(247, 247, 214, 1));
    /* background-color: rgba(247, 247, 214, .3); */
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    
}



.section2.hr{
    
    border-top: 1px dotted red;
}

footer{
    background-color: rgba(173, 42, 47, 1) ;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f7f7d6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");


    /* background-color:  rgba(173, 42, 47, 1) */
    
}

footer hr {
    border: solid 3px;
    border-color:  rgba(247, 247, 214, 1);
}
.footerLogoDiv{
    background-color: rgba(247, 247, 214, 1);
    
    
}

.icons-socials{
    color: rgba(247, 247, 214, 1);
}

#welc{
    left:10%;
    top:5%
    
}

.back-div{
    background-color: #ad2a2e;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f7f7d6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

     /* background-image: url('/images/building2.jpg') */
     
}

.back-div-black{
    background-color: #ad2a2e;

}

.section2{
    
    background-color: rgba(247, 247, 214, 1);
    
}

.allsections{
    background-color: rgba(247, 247, 214, 1)
}

.video::after{
   
}
#myVideo {
    
    
    filter: brightness(70%);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    
        
  }

.wrapper{
    margin-top: 100vh;
    background-color: rgba(247, 247, 214, 1);
    z-index: 99;
    
}







.custom-card-animation{
    overflow: hidden;
    transition: all .3s ease;
}
.gallery{
    height: 100vh;
}

.gallery-card-img{
    filter: brightness(70%);
}

.card-img-overlay , .custom-img {
    transition: all .7s ease;
}

.custom-card-animation:hover .card-img-overlay{
    background-color:  rgba(173, 42, 47, 0.8)
}

.custom-card-animation:hover .custom-img{

    
    transform: scale(1.2);
    
}

.main-card{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    background-image: url('/images/experience.jpg');

       
    transition: all .7s ease;
    
}


.hello{
    backdrop-filter: blur(10px);
}



.experience{
    backdrop-filter: blur(20px);
    size: auto 100%;
    filter: brightness(70%);
}

.events .card{
    background-color: rgba(247, 247, 214, 1) ;
}

.carousel{
    z-index: 1;
    width: 100vh;

}

.carousel-overlay{
    z-index: 99;
}


.section4 .content{
    height: 90vh;
    background-color:  rgba(173, 42, 47, 0.8);
}